<div class="page-header">
<h1>About Control World
<p>
	<small>Resources for the next generation of control panel building</small>
</h1>
<div>
<div class="well well-sm">
<p>The world of technology has changed but the world of control panel building has been slow to adopt. We aim to change that by bringing the most up to date resources, style and technology to the work you do on a daily basis.<p>
<div> 